.home_section {
  margin: 0.5rem 0.5rem 5rem 0.5rem;
  border-radius: 1rem;
  /* height: 100vh; */
  background-color: var(--home-bg-color);
  position: relative;
  overflow: hidden;

}

.ellipse {
  height: 3rem;
  width: 30rem;
  background-color: var(--ellipse-color);
  opacity: .5;
  border-radius: 100%;
  filter: blur(2000px);
  position: absolute;
  bottom: -30%;
  left: -10%;
  z-index: 1;

}

.container {
  padding: 2rem;
  margin: 0 2rem;
  display: flex;
}
.heroContent {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  padding-right: 2rem;
}

.heroContent h1 {
  font-size: clamp(3rem,  10vmin, 8rem);
  font-family: sans-serif;
  color: hsl(0 0% 98%);

}
.heroTxt{
  color: var(--hero-paragraph);
}

.buttons {
  display: flex;
  gap: 2rem;
}

.data {
  display: flex;
  gap: 5rem;
}

.dataTab {
  display: flex;
  flex-direction: column;
}

.stat {
  color: white;
  font-size: 2rem;
  margin-bottom: 8px;
}

.statTag {
  text-align: center;
  color: var(--hero-paragraph );
}

/* .img {
  width: 100%;
} */


.heroImg {
  width: 100%;
  height: auto;
}


.underlined {
  /*   background: red; */
    position: relative;
  }
  
  .underlineMask:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid rgb(55, 6, 79);
    /* Use a conic gradient mask to hide and show the bits you want */
    --spread: 140deg;
    --start: 290deg;
    mask: conic-gradient(from var(--start), white 0 var(--spread), transparent var(--spread));
  }
  
  
  .underlineOverflow {
    display: inline-block;
    /* A little extra padding and overflow hidden   */
    overflow: hidden;
    padding-bottom: clamp(1rem, 2vmin, 2rem);
  }
  .underlineOverflow:after {
    content: '';
    position: absolute;
    top: 100%;
    height: 150%;
    aspect-ratio: 2.5 / 1;
    left: 50%;
    transform: translate(-50%, -10%);
    border-radius: 50%;
    border: 6px solid #a21e20;
  }
  
  .underlineClip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid #8d1320;
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
}

.heroContent h2 {
  margin-bottom: 2rem;
}

.wrap {
  display: block;
  white-space: wrap;
} 


@media screen and (max-width:560px) {
  .heroSection {
      width: 90%;
  }
  
  .heroSection_box {
      grid-template-columns: 1fr;
      gap: 3rem;
  }


}

@media screen and (max-width: 880px) {
  .heroSection_box {
      grid-template-columns: 1fr;
      gap: 3rem;
      white-space: nowrap;
      
  }



  .heroContent h1, .heroContent p {
      font-size: 3rem;
      line-height: 1;
  }

  .heroContent h1, .heroContent p {
      white-space: nowrap;
  }
}